.navbar {
    overflow: hidden;
    background-color: #666666;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar a:hover {
    color: #1c87c9;
  }

  .navbar h3{
    font-size: 23px;
    color: #eeeeee;
  }

  form {
    width:500px;
    margin:50px auto;
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #207cca;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#207cca;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}
  